.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.image img {
  border-radius: 5px;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.step1Form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.step1Form .step1div {
  width: 50%;
  margin: 1rem;
}

#editForm {
  max-width: 100%;
  background-color: #ffffff;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
  border-radius: 12px;
}
#editForm .form-header {
  gap: 5px;
  text-align: center;
  font-size: 0.9em;
}
#editForm .form-header .stepIndicator {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
}
#editForm .form-header .stepIndicator.active {
  font-weight: 600;
}
#editForm .form-header .stepIndicator.finish {
  font-weight: 600;
  color: #009688;
}
#editForm .form-header .stepIndicator::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #d5efed;
  border-radius: 50%;
  border: 3px solid #ecf5f4;
}
#editForm .form-header .stepIndicator.active::before {
  background-color: #a7ede8;
  border: 3px solid #d5f9f6;
}
#editForm .form-header .stepIndicator.finish::before {
  background-color: #009688;
  border: 3px solid #b7e1dd;
}
#editForm .form-header .stepIndicator::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}
#editForm .form-header .stepIndicator.active::after {
  background-color: #a7ede8;
}
#editForm .form-header .stepIndicator.finish::after {
  background-color: #009688;
}
#editForm .form-header .stepIndicator:last-child:after {
  display: none;
}
#editForm input {
  padding: 15px 20px;
  width: 100%;
  font-size: 1em;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: white;
  color: rgb(120, 120, 120);
}
#editForm input:focus {
  border: 1px solid #009688;
  outline: 0;
}
#editForm input.invalid {
  border: 1px solid #ffaba5;
}
#editForm .step {
  display: none;
}
#editForm .form-footer {
  overflow: auto;
  gap: 20px;
}
#editForm .form-footer button {
  background-color: #009688;
  border: 1px solid #009688 !important;
  color: #ffffff;
  border: none;
  padding: 13px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin-top: 5px;
}
#editForm .form-footer button:hover {
  opacity: 0.8;
}

#editForm .form-footer #prevBtn {
  background-color: #fff;
  color: #009688;
}
