.card_search_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_search {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  width: 600px;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}
.list-group {
  border-bottom: 1px solid rgb(228, 227, 227);
}
.list-group-item {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.list-group-item:hover {
  background-color: rgb(247, 246, 246);
}
.link-search {
  text-decoration: none !important;
}
